<div class="data-binding">
    <h1 class="text-uppercase">Let's practice data binding</h1>
    <h2>1) String interpolation</h2>
    <p>data <span>{{ dataBindingStringInterpolation }}</span> and calling a method
        <span>{{getStringInterpolationName()}}</span>
    </p>
    <h2>2) Property Binding</h2>
    <div class="white-text-property">        
    <p>let's add a button to learn more about property binding</p>
    <p>the bellow button have been disabled with property binding the property binding works with [ ]</p>
    <p>as it is the name of the property and the property value(here it is a boolean) comes in " "</p>
    </div>
    <button class="btn btn-primary"
    [disabled]="!allowToClick"
    (click)="onClickEvent()">Click on me</button>
    <p>your status for clicking on the button is: <span>{{allowToClick}}</span></p>
    <h2>3) Event Binding</h2>
    <p>{{haveBeenClicked}}</p>
    <div class="white-text-property">the above is the event binding once you click you can see the diffrence</div>
</div>